# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-link

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
.venv/
venv/
env/
*/.venv/

# Editors and IDEs
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# My stuff
*.log
credentials.json
